body{
	font-family: sans-serif;
	font-size: 16px;
	background-color: #897242;
	color: black;
}
table{
	border-collapse: collapse;
	background-color: #E0D18B;
}
td.header, td.subheader, td.intro, td.calculator, td.table1, td.table2, td.table3{
	border: 12px solid #754C30;
	border-left-width: 50px;
	border-right-width: 50px;
}
td.header{
	border-top-width: 16px;
}
td.header, td.subheader{
	padding: 8px;
	line-height: 24px;
}
td.intro{
	text-align: left;
	font-size: 18px;
	padding: 25px;
	line-height: 27px;
}
td.calculator, td.table1, td.table2{
	width: 800px;
	padding-top: 0px;
	padding-bottom: 20px;
	line-height: 14px;
}
td.calculator{
	padding-top: 5px;
}
th, td{
	border: 2px solid;
	text-align: center;
	padding: 10px;
	border-color: #593B26;
}
th{
	border-top: 4px solid;
	border-bottom: 4px solid;
	width: 42px;
	border-color: #593B26;
}
th.levels{
	width: 92px;
}
th.conmov{
	width: 32px;
}
table#main{
	margin-left: auto; 
	margin-right: auto;
	padding: 10px;
}
table.statstable{
	margin-left: auto; 
	margin-right: auto;
}
a:link, a:visited{
  color: #440066;
}